/* Sign-in.css */
body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 70%;
    margin: 80px auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1.3);
    border-radius: 10px;
  }
  
  .registration-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    width: 100%;
  }
  
  .underlined-input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    background-color: white;
  }
  
  .submit-button,
  .admin-button { /* Apply the same styles to both buttons */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Adding border-radius for rounded corners */
  }
  
  .submit-button:hover,
  .admin-button:hover { /* Apply the same styles to both buttons on hover */
    background-color: #0056b3;
  }
  
  .admin-button {
    background-color: #d9534f; /* Change the background color for admin button */
    margin-left: 5px; /* Add some margin between the buttons */
  }
  
  .img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
  }
  
  .img img {
    max-width: 100%;
    height: auto;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-icon {
    margin-right: 10px;
  }
  
  .underlined-input:focus {
    outline: none;
  }
  
  .dropdown-group {
    margin-top: 20px;
    position: relative;
  }
  
  .admin-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
  }
  
  /* Admin_login.css */
  /* Add this CSS code to your stylesheet */
  
  .eye-icon {
    cursor: pointer;
    font-size: 20px;
    color: #555;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .underlined-input {
    position: relative;
    padding-right: 30px; /* Adjust as needed */
  }
  .button-group{
    display: flex;
  }
  .button-group p{
    text-align: right;
  }